@use '../base/variables' as v;
@use '../base/mixins' as m;

.button{
    &.submit{
        @include m.btnLarge(v.$blue, v.$white);
        margin-top: 4rem;
        max-width: 40rem;
        @include m.tablet{
            max-width: 20rem;
            display: inline-block;
        }
    
    }

    &.seek{
        margin: 1rem 0;
        max-width: 12rem;
        background: v.$white;
        color: v.$darkerBlack;
        padding: 1rem;
    }
}