// Fuentes
$main_font: 'Poppins', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopLarge: 1200px;

// Colores
$blue: #0da6f3;
$red: #cb0000;
$brightRed: #f73838c0;
$green:#329f00;
$brightGreen:#7dc05eea;
$blackbg: #1a1b15;
$darkerBlack: #070707;

$white: #FFFFFF;
$gray: #e1e1e1;
$darkGray: #333;

$separation: 5rem;

// Fuentes
$thin: 300;
$regular : 400;
$bold: 700;
$black: 900