@use '../base/variables' as v;
@use '../base/mixins' as m;

.app-container{
    @include m.tablet{
        @include m.grid();
        min-height: 100dvb;
        grid-template-columns: 1.3fr 2fr;
        gap: 1rem;
    }
    .image{
        position: relative;
        min-height: 20vh;
        max-height: 20vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 2px 2px v.$blue 3rem -1.5rem;
        @include m.tablet{
            max-height: 100%;
        }
    }
    .image-1{
        background-image: url(../img/1.jpg);
    }
    .image::after{
        position: absolute;
        content: 'hairvana';
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        color: #ffffff6c;
        width: 100%;
        height: 100%;
        font-family: fantasy;
        text-shadow: 2px 2px #00000084;
        @include m.tablet{
        font-size: 5rem;
        }
    }
    .app{
        width: min(90%, 80rem );
        margin: 0 auto;
        padding: 8rem 0;
        position: relative;
    }
    .text-blue{
        color: v.$blue;
    }

}

.bar-info{
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    .content{
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
        font-size: 1.5rem;
        background: v.$blue;
        padding: .8rem 2rem .8rem;
        border-radius: 0 0 1rem 1rem;
        margin-right: -2.5rem;
    }
    .logout-img{
        width: 20px;
    }
    .logout-img:hover{
        transform: scale(1.1);
    }
    

    p{
        font-size: inherit;
        margin: 0;
        padding: 0;
    }
}

/* main container*/
.dropdown {
    position: relative;
    display: inline-block;
    top: -2.5rem;

    /* dropdown button */
    .dropdown-toggle {
        background-color: v.$blue;
        color: v.$white;
        padding: 1rem 2rem;
        border: none;
        cursor: pointer;
        font-size: 1.7rem;
    }

    .dropdown-toggle, .dropdown-menu{
        border-radius: .5rem;
    }

    /* dropdown menu */
    .dropdown-menu {
        position: absolute;
        top: 110%; /* show below the button */
        left: 0;
        background-color: v.$white;
        min-width: 15rem;
        z-index: 10; //show over other elements
        border-radius: 1rem;
    }

    .dropdown-menu.hide{ //when both class exist in the element
        display: none;
    }

    /* link styles */
    .dropdown-menu .button {
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: v.$darkGray;
        font-size: 1.4rem;
        border-bottom: 1px solid v.$gray;
    }
    .dropdown-menu .button:last-child{
        border-bottom: none;
    }

    .dropdown-menu .button:hover {
        color: v.$blue;
    }
}
